<!--
<form action="/login" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="senha">
    <input type="submit" value="Entrar">
</form>
-->

<div class="container-login">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary">Bem-vindo de volta!</h2>
            <p class="description description-primary">Acesse sua conta agora mesmo!</p>
            <button id="signin" class="btn btn-primary">Entrar</button>
        </div>
        <div class="second-column">
            <h2 class="title title-second">Crie sua conta!</h2>
            
            <form class="form" action="/login" method="post">
                <label class="label-input" for="">
                    <i class="far fa-user icon-modify"></i>
                    <input type="text" placeholder="Nome">
                </label>

                <label class="label-input" for="">
                    <i class="far fa-envelope icon-modify"></i>
                    <input type="email" placeholder="Email">
                </label>

                <label class="label-input" for="">
                    <i class="fas fa-lock icon-modify"></i>
                    <input type="password" placeholder="Senha">
                </label>

                <button class="btn btn-second">Cadastrar</button>
            </form>
        </div><!-- second column -->
    </div><!-- first content -->

    <div class="content second-content">
        <div class="first-column">
            <h2 class="title title-primary">Olá, visitante!</h2>
            <p class="description description-primary">Insira seus dados</p>
            <p class="description description-primary">e faça o cadastro em nosso site.</p>
            <button id="signup" class="btn btn-primary">Entrar</button>
        </div>
        <div class="second-column">
            <h2 class="title title-second">Acesse sua conta</h2>

            <form class="form" action="/login" method="post">

                <label class="label-input" for="">
                    <i class="far fa-envelope icon-modify"></i>
                    <input type="email" placeholder="Email">
                </label>

                <label class="label-input" for="">
                    <i class="fas fa-lock icon-modify"></i>
                    <input type="password" placeholder="Senha">
                </label>

                <a class="password" href="#">Esqueceu sua senha?</a>
                <button class="btn btn-second">Entrar</button>
            </form>
        </div><!-- second column -->
    </div><!-- second-content -->
</div>