
<section class="cadastrar-usuario" id="cadastrar-usuario">
         
    <fieldset class="content-cadastrar-usuario">
        <div class="titulo-cadastrar-usuario">
            <h3>Cadastrar Usuário</h3>
        </div>
      
        <div class="cadastrar-usuario">
            <form action="/usuarios/cadastrar" method="post">
                <label class="nome-usuario">
                    <input type="text" name="name" id="name" placeholder="Nome do usuário">
                </label>

                <label class="email-senha-usuario">
                    <div class="email-usuario">
                        <input type="text" name="name" id="name" placeholder="Email">
                    </div>
                    <div class="senha-usuario">
                        <input type="text" name="name" id="name" placeholder="Senha">
                    </div>
                </label>

                <button class="submit" type="submit">Cadastrar</button>
            </form>
        </div>

    </fieldset>
</section>

<p><a href="/">Voltar</a></p>
</div>